@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");

html.dark {
  background-color: #18191b;
  color: #ffff;
}

img {
  content-visibility: auto;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  outline: none;
}

.blog-prose {
  h2,
  h3,
  a,
  p,
  ul,
  ol,
  hr,
  pre,
  code,
  table,
  thead,
  blockquote,
  tbody,
  tr,
  th,
  td,
  img {
    margin: 25px 0px;
  }

  p {
    code {
      padding: 5px;
      background: #373c49;
      color: #fff;
      border-radius: 2px;

      font-size: 14px;
      font-family: "IBM Plex Mono", monospace;
      margin: 0 2px;
    }
  }

  p {
    em {
      font-size: 16px;
      opacity: 1;
      line-height: 1.5;
    }
  }

  pre {
    padding: 1em;
    border-radius: 5px;
    background-color: #24292e !important;
    overflow-x: auto !important;
  }

  pre {
    code {
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      .hljs-tag,
      .hljs-function,
      .hljs-params {
        color: #fff;
      }
    }
  }

  blockquote {
    border-left: 2px solid rgb(61, 68, 83);
    padding-left: 15px;
    font-style: italic;
    p {
      opacity: 0.9;
      line-height: 1.5em;
    }
  }

  ul {
    list-style-type: inherit;
    padding: 0px 15px;
    li {
      font-size: 16px;
      margin: 10px 0px;
    }
  }

  h2 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }

  a,
  strong {
    color: #ff8989;
  }

  h2,
  h3,
  h4 {
    font-style: bold;
    font-family: "Playfair Display", sans-serif;
  }

  p {
    font-size: 16.5px;
    line-height: 1.6em;
    opacity: 0.8;

    @media screen and (max-width: 540px) {
      font-size: 15px;
    }
  }

  img {
    border-radius: 5px !important;
    display: flex;
    justify-content: center;
    height: auto;
    object-fit: contain;
  }

  em {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 15px;
    opacity: 0.8;
  }

  @media screen and (max-width: 834px) {
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 360px) {
    h2 {
      font-size: 1.35rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    em {
      font-size: 13px;
    }
    blockquote {
      p {
        font-size: 0.9rem !important;
      }
    }
  }
}
