@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;1,300&display=swap');

html {
  scroll-behavior: smooth;
}

img {
  content-visibility: auto;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  outline: none;
}

html.dark {
  background-color: #18191b;
  color: #ffff;

  .blog-prose {
    p,
    li {
      code {
        background: #373c49;
        color: #ffff;
      }
    }

    pre {
      background-color: #24292e !important;
    }
  }

  hr {
    border: 0.1px solid rgb(90, 89, 89);
  }

  h4::after {
    color: #ffff;
    margin-left: 10px;
    width: 15px;
    height: 30px;
    content: "λ";
    position: absolute;
  }

  .fhl {
    color: yellow;
  }
}

html.light {
  background-color: hsl(0, 0%, 93%);
  .blog-prose {
    p,
    li {
      code {
        background: #f7f7fe;
        border: 0.5px solid black;
        color: #18191b;
        font-weight: bold;
      }
    }

    pre {
      background-color: #f7f7f7 !important;
    }

    h4::after {
      color: #a19f9fdd;
      margin-left: 10px;
      width: 15px;
      height: 30px;
      content: "λ";
      position: absolute;
    }
  }

  hr {
    border: 0.1px solid rgb(195, 193, 193);
  }

  .fhl {
    color: rgb(206, 109, 39);
  }

  .toc-list,
  .meta-inline,
  .meta-time,
  .meta-date {
    color: rgb(120, 120, 122);
  }
}

.meta-categories {
  font-family: "Ubuntu Mono", sans-serif;
}

.blog-prose, .code-prose {
  .hljs-comment {
    font-style: italic;
  }

  h2,
  h3,
  a,
  p,
  ul,
  ol,
  hr,
  pre,
  code,
  table,
  thead,
  blockquote,
  tbody,
  tr,
  th,
  td {
    margin: 25px 0px;
  }

  figure {
    margin: 20px 0px;

    figcaption {
      margin: 10px;
    }
  }

  p,
  li {
    code {
      padding: 4px;
      border-radius: 2px;
      font-size: 13.8px;
      font-family: "JetBrains Mono", monospace;
      margin: 0 2px;
    }
  }

  p {
    em {
      font-size: 16px;
      opacity: 1;
      line-height: 1.5;
    }
  }

  pre {
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto !important;
  }

  pre {
    code {
      font-family: "JetBrains Mono", monospace;
      font-size: 15px;
    }
  }

  blockquote {
    border-left: 2px solid rgb(61, 68, 83);
    padding-left: 15px;
    font-style: italic;
    p {
      opacity: 0.9;
      line-height: 1.5em;
    }
  }

  ul {
    list-style-type: inherit;
    padding: 0px 15px;
    li {
      font-size: 16.5px;
      margin: 10px 0px;
      line-height: 1.7em;
    }
  }

  h2 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }

  a,
  strong {
    color: #ff8989;
  }

  strong {
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;
  }

  h2,
  h3,
  h4 {
    font-style: bold;
    font-family: "Playfair Display", sans-serif;
  }

  h4 {
    font-size: 22px;
    font-weight: bold;
  }

  p {
    font-size: 17.6px;
    line-height: 1.7em;
    opacity: 0.8;
  }

  img {
    border-radius: 5px !important;
    display: flex;
    justify-content: center;
    height: auto;
    object-fit: contain;
  }

  em {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 16px;
    opacity: 0.8;
  }

  @media screen and (max-width: 834px) {
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 540px) {
    p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 360px) {
    h2 {
      font-size: 1.35rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    em {
      font-size: 13px;
    }
    blockquote {
      p {
        font-size: 0.9rem !important;
      }
    }
  }
}
