@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");

html.dark {
  background-color: #18191b;
  color: #ffff;
}

img {
  content-visibility: auto;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  outline: none;
}
