---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Muhamad Rizky">
  <Container class="text-gray-300">
    <div class="mb-10 flex flex-col space-y-6">
      <p>
        Hi 👋 I’m Rizky. Developer from <a
          href="https://id.wikipedia.org/wiki/Kota_Bogor"
          target="_blank">Bogor</a
        >, Indonesia. And i’m a self taught person who like learning anything
        related to my field. Like frontend things, and web development
      </p>

      <p>
        I’m interested in design and also programming pattern like <a
          href="https://en.wikipedia.org/wiki/Functional_programming"
          target="_blank">functional programming</a
        > for now i currently learning
        <a
          href="https://elixir-lang.org/"
          class="text-purple-400"
          target="_blank">Elixir</a
        >. Since high school i like to create innovation by learn <a
          href="https://cplusplus.com/"
          class="text-blue-400"
          target="_blank">C++</a
        > Language that using for my iOT and robotic projects by Arduino or Raspbery
        pi. I like to spent my time for learn algorithm and new things.
      </p>

      <p>
        If you interested to collaborate with me, you can write your message
        with my email in <a href="mailto:hello@rizkyy.dev" class="text-pink-300"
          >here</a
        >, and other social media accounts. Thanks!
      </p>
    </div>

    <hr class="opacity-30" />
  </Container>
</Layout>
