---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Muhamad Rizky">
  <Container>
    <div class="mb-10 flex flex-col space-y-7 xsm:text-[15px]">
      <p class="opacity-80">
        Hi 👋 I’m Rizky. Developer from
        <a href="https://id.wikipedia.org/wiki/Kota_Bogor" target="_blank">
          Bogor
        </a>Indonesia (🇮🇩). For now i work as Front End Engineer for Product /
        Marketplace Division at <a
          href="https://fishlog.co.id"
          target="_blank"
          class="text-yellow-400">
          Fishlog</a
        > and i love to crafting beautiful UI, enhancing web technology that easy
        to accessible with user and developer a like. Skilled in React, and frontend
        tools.
      </p>

      <p class="opacity-80">
        Lately i'm interesting in <a
          href="https://en.wikipedia.org/wiki/Functional_programming"
          target="_blank">functional programming</a
        >, and currently learning
        <a
          href="https://elixir-lang.org/"
          class="text-purple-500"
          target="_blank">Elixir</a
        > for my playground. Since high school i like to create innovation by learn
        <a href="https://cplusplus.com/" class="text-blue-500" target="_blank"
          >C++</a
        > Language that using for my iOT and robotic projects using Arduino or Raspbery
        pi. I like to spent my time for learn algorithm and new things.
      </p>

      <p class="opacity-80">
        If you interested to collaborate with me, you can write your message
        with my email in
        <a href="mailto:hello@rizkyy.dev" class="text-pink-400">here</a>, and
        other social media accounts. Thanks! Nice to see you :)
      </p>
    </div>

    <hr class="opacity-30" />
  </Container>
</Layout>
