---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Hello">
  <Container>
    <div class="mb-10 flex flex-col space-y-7 text-[17px]">
      <p class="opacity-80">
        Hi 👋 I’m Rizky. Welcome to my web playgrounds. I'm a Developer from
        <a href="https://id.wikipedia.org/wiki/Kota_Bogor" target="_blank">
          Bogor
        </a>Indonesia (🇮🇩). Now I work as Software Engineer (Front End) at <a
          href="https://bitwyre.com"
          target="_blank"
          class="text-transparent bg-clip-text bg-gradient-to-r from-sky-500 to-blue-400">
          Bitwyre</a
        >. I've work on UI stuff, Front End Design, Architecture and Improving
        web performance. I love to crafting Beautiful, Minimalism UI also I like
        to enhancing web technology that easy to accessible with user and
        developer a like. and care about DX.
      </p>

      <p class="opacity-80">
        Lately i'm interesting in <a
          href="https://en.wikipedia.org/wiki/Functional_programming"
          target="_blank">Functional Programming</a
        >, and <a href="https://www.blockchain.com/">Blockchain</a> or <a href="https://aws.amazon.com/id/what-is/web3/">web3</a> technology and
        AI Stuff. I currently learning
        <a href="https://reactnative.dev/" class="text-sky-400" target="_blank"
          >React Native</a
        > for other projects. I like to solve problems with simple things and avoid
        solving problems with a complex things.
      </p>

      <p class="opacity-80">
        If you interested to collaborate with me, you can write your message
        with my email in
        <a href="mailto:mrizkyy027@gmail.com" class="text-pink-400">here</a>,
        and other social media accounts. Thanks! Nice to see you :)
      </p>
    </div>

    <hr class="opacity-30" />
  </Container>
</Layout>
