---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Projects">
  <Container class="text-gray-300 flex flex-col space-y-6">
    <h1>Hello World</h1>
  </Container>
</Layout>
