---
import cx from "classnames";

const {class: className, isUsingPadding = true} = Astro.props;
const currentPath = Astro.url.pathname.replace(/\/$/, "")
const isBlogPath = currentPath === "/blogs";
const isAboutPath = currentPath === "";
const isProjectsPath = currentPath === "/projects";
---

<div
  class:list={cx(["mx-auto", className], {
    "max-w-[850px] lg:max-w-2xl": !isBlogPath,
    "max-w-4xl": isBlogPath,
    "max-w-2xl": isAboutPath || isProjectsPath,
    "px-5": isUsingPadding
  })}>
  <slot />
</div>
